@import "https://unpkg.com/open-props";


body {
   background: #2C493A;
   font-family: 'Clash Display', sans-serif;
  background-image: url(assets/bgv2.jpg);
  background-size: cover;

}


figure {

  color: #181A19;
  text-align: left;
  font-family: 'Clash Display', sans-serif;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-4);
  padding-left: 1500px;
}

h1 {
  text-align: left;
  padding-left: 1500px;
}

a.title {
  font-size: var(--font-size-fluid-3);
  text-decoration: none;
  color: black;
  text-decoration-thickness: none;
  text-decoration-style: none;
  text-decoration-color: none;
  text-align: center;
} 

header {
  display: flex;
  justify-content: center;
}

audio {
  width: 35%;
 
}
